@model JobPad.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light text-center">Customer Info</h1>

@*<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@

<div class="card text-black-50 bg-light mb-3 rounded-pill text-center m-3 border  border-dark justify-content-center" style="width: 18rem;">
    <h5 class="card-header">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h5>
    <div class="card-body">
        <p class="card-text">@Html.DisplayFor(model => model.PhoneNumber)</p>
        <p class="card-text">@Html.DisplayFor(model => model.EmailAddress)</p>
        <a class= "btn btn-outline-dark rounded-pill text-center" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class= "btn btn-outline-dark rounded-pill text-center" asp-action="Index">Back to List</a>
    </div>
</div>
