@model JobPad.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Job Info</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.EstimatedJobCost)
        </dt>
        <dd class="col-sm-10 text-light">
            $
            @Html.DisplayFor(model => model.EstimatedJobCost)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.FinalCost)
        </dt>
        <dd class="col-sm-10 text-light">
            $
            @Html.DisplayFor(model => model.FinalCost)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
    </dl>
    <div>
        <a class= "btn btn-outline-dark rounded-pill text-center text-light" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
    <br />
    <dl>
        <dt class="col-sm-2">
            <h3 class="text-light">Materials</h3>
        </dt>
        <br />
        @if (Model.Materials.Count == 0)
        {
            <a class= "btn btn-outline-dark rounded-pill text-center text-light" asp-controller="Materials" asp-route-id="@Model.Id" asp-action="Create">Jobs Materials</a>
            <br />
        }
        else
        {
            <br />
            @foreach (var material in Model.Materials)
            {
                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => material.MaterialType)
                </dt>
                <dd class="col-sm-10 text-light">
                    @Html.DisplayFor(model => material.MaterialType)
                </dd>
                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => material.PaintBrand)
                </dt>
                <dd class="col-sm-10 text-light">
                    @Html.DisplayFor(model => material.PaintBrand)
                </dd>
                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => material.PaintColor)
                </dt>
                <dd class="col-sm-10 text-light">
                    @Html.DisplayFor(model => material.PaintColor)
                </dd>
                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => material.TotalMaterialCost)
                </dt>
                <dd class="col-sm-10 text-light">
                    $
                    @Html.DisplayFor(model => material.TotalMaterialCost)
                </dd>
                <div>
                    @*Route to "create materials" for a specific job*@
                    <br />
                    <a class= "btn btn-outline-dark rounded-pill text-center text-light" asp-controller="Materials" asp-route-id="@material.Id" asp-action="Edit">Add/Change Materials</a>
                </div>
            }
        }

    </dl>
</div>
<br />
<a class= "btn btn-outline-dark rounded-pill text-center text-light" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
<br />
<div>
    <a class= "btn btn-outline-dark rounded-pill text-center text-light" asp-action="Index">Back to Jobs</a>
</div>
