@model JobPad.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Job Info</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedJobCost)
        </dt>
        <dd class="col-sm-10">
            $
            @Html.DisplayFor(model => model.EstimatedJobCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalCost)
        </dt>
        <dd class="col-sm-10">
            $
            @Html.DisplayFor(model => model.FinalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
    </dl>
    <dl>
        <dt class="col-sm-2">
            <h3>Materials</h3> 
        </dt>
        <br />

        @foreach (var material in Model.Materials)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => material.MaterialType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => material.MaterialType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => material.PaintBrand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => material.PaintBrand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => material.PaintColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => material.PaintColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => material.TotalMaterialCost)
            </dt>
            <dd class="col-sm-10">
                $
                @Html.DisplayFor(model => material.TotalMaterialCost)
            </dd>
        }
    </dl>
</div>
<div>
    @*Route to "create materials" for a specific job*@
    <a asp-controller="Materials" asp-route-id="@Model.Materials" asp-action="Create">Add Materials</a>
</div>
<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
