@model IEnumerable<JobPad.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light text-center">Jobs</h1>

<p>
    @if (Model.Count() > 0)
    {
        <a class= "btn btn-outline-dark rounded-pill text-center text-light" asp-action="Create">New Job</a>
    }

</p>
<table class="table text-light">
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td>
                    You must <a href="/Customers/Create">create a customer</a> before creating a new job
                </td>
            </tr>
        }
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName) @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card text-black-50 bg-light mb-3 rounded-pill text-center m-3 border  border-dark  " style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Customer.FirstName) @Html.DisplayFor(modelItem => item.Customer.LastName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Address)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Customer.PhoneNumber)</p>
                <p class="card-text"> Paid @Html.DisplayFor(modelItem => item.IsPaid)</p>
                <a class="btn btn-outline-light rounded-pill border border-dark text-black-50" asp-action="Details" asp-route-id="@item.Id">View</a>
            </div>
        </div>}
</div>
