@model IEnumerable<JobPad.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaintBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaintColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMaterialCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaintBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaintColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMaterialCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
